body{
    background-color:#E8E8E8
  }
#surveyBox{
    border: 5px solid #ffff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #DAC4FF;
}
fieldset{
    border-color:#ffff;
}
#submit{
    background-color: #FFEAD4;
}